<!DOCTYPE html>
<html lang="en">
  <!-- reusing partials -->
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <h1>home page</h1>

    <% if(blogs.length > 0) { %> <% for(let i = 0; i < blogs.length; i++) { %>
    <h1><%= blogs[i].title %></h1>
    <p><%= blogs[i].content %></p>
    <% } %> <% } %>

    <!-- footer -->
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
